# Python
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
anaconda_projects/

# VS Code settings
.vscode/

# Environment files
env/
venv/
.venv/
.DS_Store

# Files
*pdf
*csv

# System files
Thumbs.db

# Folders
data/

# System specific notebook
DLC-Jupyter-Notebooks/10_DLCjupyter.ipnyb
