# Python
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# DeepLabCut outputs
*.h5
*.csv
*.pickle
*.pkl
*.npz
*.npy
*.log
*.mat
*.yaml

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Environment files
env/
venv/
.venv/
.DS_Store

# System files
Thumbs.db
