# Python
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
anaconda_projects/

# data
data/

# VS Code settings
.vscode/

# DeepLabCut outputs
*.pkl
*.npz
*.npy
*.log
*.mat
*.yaml
*.png

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Environment files
env/
venv/
.venv/
.DS_Store

# System files
Thumbs.db

# Folders
DLC*/
