name: ghrelin
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pandas
  - numpy
  - scipy
  - matplotlib
  - seaborn
  - jupyter
  - jupyterlab
  - openpyxl  # For Excel export
  - opencv  # For loading DeepLabCut tracking data
